
h2 { 
  margin: 30px;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

div { 
  background-color: transparent;
  margin: 20px;
}

p, a { 
  color: white;
  text-shadow: 1px 1px 5px #000000;
  margin: 5px;
}

h1, input { 
  margin: 0 20px;
}