.flip {
  background-color: transparent;
  min-height: 67px;
  perspective: 1000px;
  margin: 5px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 64.6px;
  backface-visibility: hidden;
  background-color: #F41501;
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;
}

.front {
  color: black;
}

.back {
  transform: rotateY(180deg);
}

.dinner, .dinnerBack {
  height: auto;
}