.flip-card {
  background-color: transparent;
  /* min-width: 60px; */
  min-height: 67px;
  perspective: 1000px;
  margin: 5px;

  /* background-color: #F41501; */
  /* min-height: 20px; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  height: 64.6px;
  backface-visibility: hidden;

  background-color: #F41501;
  /* margin: 5px; */
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;

}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

.flip-card-back {
  /* background-color: #2980b9; */
  color: white;
  transform: rotateY(180deg);
}

.dinner.front, .dinnerBack {
  height: auto;
}