
body {
  margin-top: 0px;
  background-color: rgb(241, 232, 231);
}

.snack1, .snack2 {
  background-color: rgb(80, 0, 0);
  color: white;
  min-height: 20px;
  margin: 5px;
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;
  display: none;
}

.snack1 p, .snack2 p {
  margin: 1px;
}

#listOfIngredients {
  background-color: blue;
  color: wheat;
  min-height: 20px;
  margin: 5px;
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;
  visibility: hidden;
}

h1 {
  margin-bottom: 2px;
  margin-top: 30px;
}

h2, h3 {
  margin: 2px;
}

h1, h2, h3 {
  text-align: center;
}

h4 {
  margin: 5px 10px;
}

button {
  margin: 5px;
  background-color: cornflowerblue;
}

#button {
  padding: 70px 60;
  text-align: center;
}

/* division holding the days of the week.For swiping right and left. */
#swiper {
  align-items: stretch;
  display: flex;
  overflow-y: hidden;
  --sectionNumber: 1;
  width: 100%;
  width: calc(var(--sectionNumber)*100%);
  height: 1250px;
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  transition: transform 1s linear;
}

/* initial section values */
section {
  min-width: 100%;
  width: 100%;
  width: calc(100%/var(--sectionNumber));
  user-select: none;
}

.dinner h2 {
  margin: 3px;
  color: #FFC7C2;
  text-shadow: 2px 2px 5px #000000;
}

.dinner p, .dinner a, .dinnerBack ul {
  color: white;
  font-weight: bold;
  text-shadow:  0px  0px 3px #000000;
  margin: 5px;
}

.lunch span { 
  font-size: 90%;
}

p {
  color: #FFC7C2;
  margin: 0px 1px 5px;
  text-shadow:  0px  0px 3px #000000;
}

ul {
  margin: auto;
  list-style: none;
  text-align: left;
  /* text-shadow: 0px 0px 2px white; */
  font-weight: bold;
}

.chef { 
  display: inline;
  height: 35px;
}

.breakfastMeal img, .breakfastMeal div, 
.lunchMeal span, .lunchMeal img, 
.dinChef img {
  margin: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

/* for screens larger than 1500 */
@media screen and (min-width: 1500px) {
  section {
    min-width: initial;
  }
  h2, h3 {
    font-size: 110%;
  }
  p, ul {
    font-size: 80%;
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 125%;
  }
}


