
body { 
  margin: 4%;
  background-color: beige;
  /* overflow-x: hidden; */
}

.breakfast, .lunch, .dinner {
  background-color: rgb(11, 130, 235);
  min-height: 20px;
  margin: 5px;
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;
}

h1, h2, h3 { 
  text-align: center;
}

#button { 
  padding: 70px 60;
  text-align: center;
}

/* animated button */
#populate { 
  height: 40px;
  cursor: pointer;
}

/* button animation */
@keyframes press { 
  from {font-size: 100%;}
  to   {font-size: 200%;}
}

/* division holding the days of the week. 
   User can swipe right and left. */
#swiper { 
  /* width: 100%; 
  /* align-items: center; */
  align-items: stretch;
  display: flex;
  overflow-y: hidden;
  /* height: 800px; */
  /* height: 90vw; */
  /* max-height: 98vh; */
  --sectionNumber: 1;
  width: 100%;
  width: calc(var(--sectionNumber)*100%);
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  /* transform: translate(calc(var(--index, 0)/var(--sectionNumber)*-100% + var(--xChange, 0px))); */
  transition: transform 1s linear;



    /* --n: 1;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%; 
    width: calc(var(--n)*100%);
    height: 50vw; 
    max-height: 100vh;
    transform: translate(calc(var(--i, 0)/var(--n)*-100%)); */
    




}

/* initial section values */
section { 
  min-width: 100%;
  width: 100%;
  width: calc(100%/var(--sectionNumber)); 
  user-select: none;
  pointer-events: none;
  /* height: 350px; */
  /* pointer-events: none; */

    /* width: 100%; 
    width: calc(100%/var(--n));
    user-select: none;
    pointer-events: none */



}



.dinner h2 { 
  margin: 30px;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

.dinner p, .dinner a { 
  color: white;
  text-shadow: 1px 1px 5px #000000;
  margin: 5px;
}
