
body { 
  margin: 4%;
  background-color: rgb(241, 232, 231);
}

.breakfast, .lunch, .dinner {
  background-color: #F41501;
  min-height: 20px;
  margin: 5px;
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;
}

#listOfIngredients { 
  background-color: blue;
  min-height: 20px;
  margin: 5px;
  border-radius: 15px;
  padding: 1px;
  font-size: 120%;
  text-align: center;
}

h1, h2, h3 { 
  text-align: center;
}

h4 { 
  margin: 5px 10px;
}

button {
  margin: 5px;
  background-color: cornflowerblue;
}

#button { 
  padding: 70px 60;
  text-align: center;
}

/* animated button */
#populate { 
  height: 40px;
  cursor: pointer;
}

/* button animation */
@keyframes press { 
  from {font-size: 100%;}
  to   {font-size: 200%;}
}

/* division holding the days of the week.For swiping right and left. */
#swiper { 
  align-items: stretch;
  display: flex;
  overflow-y: hidden;
  --sectionNumber: 1;
  width: 100%;
  width: calc(var(--sectionNumber)*100%);
  transform: translate(calc(var(--i, 0)/var(--n)*-100%));
  transition: transform 1s linear;
}

/* initial section values */
section { 
  min-width: 100%;
  width: 100%;
  width: calc(100%/var(--sectionNumber)); 
  user-select: none;
  pointer-events: none;
}

  /* for screens largeer than 1500 */
@media screen and (min-width: 1500px) {
  section { 
    min-width: initial;
  }

  h2, h3 { 
    font-size: 110%;
  }

  p { 
    font-size: 80%;
  }

}

.dinner h2 { 
  margin: 30px;
  color: #FFC7C2;
  text-shadow: 2px 2px 5px #000000;
}

.dinner p, .dinner a, .dinner ul { 
  color: white;
  text-shadow: 1px 1px 5px #000000;
  margin: 5px;
}

p {
  color: #FFC7C2;
}

ul { 
  margin: auto;
  list-style: none;
  text-align: left;
}

@media only screen and (max-width: 400px) {
  h2 { 
    font-size: 125%;
  }
}
