
body { 
  margin: 3%;
}

.hideMe { 
  display: none;
}

h3 { 
  user-select: none;
}

h6 {
  width: 50px;
  height: 400px;
  /* background: "https://avatars3.githubusercontent.com/u/55348714?s=400&v=4"; */
  background: red;
  transition: width 3s ease-in-out;
}

transitions { 
  width: 50px;
  height: 400px;
  overflow: hidden; 
}

div:hover { 
  /* background: white; */
  width: 400px;
}

#transition2 { 
  height: 50px;
  transition: height 2s;
  overflow: hidden;
}

#transition2:hover { 
  height: 400px;
}

div:hover #picture {
  opacity: 0.0;
  transition: opacity 0.1s ease-in-out;
}

input { 
  padding: 12px;
}

canvas { 
  border: 1px solid darkgray;
}

#myAnimation { 
  height: 200px;
  width:  200px;
  margin: 20px;
  position: relative;
  background: lightblue;
}

@keyframes down { 
  from {left: 0px;}
  to   {left: 300px}
}



